name: Tag on New Issue

on:
  issues:
    types: [opened]

permissions: 
    contents: read

jobs:
  tag-user:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Tag user on new issue
        uses: devops-actions/issue-comment-tag@6dbf2b1d509b1255e744349f7b0d5c1f723b22ef # v0.1.9
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          team: ${{ vars.TAG_USER }}
          issue: ${{ github.event.issue.number }}
          owner: ${{ github.repository_owner }}
          repo: ${{ github.repository }}
